@font-face {
  font-family: 'Fira Sans Medium';

  src: url('~@/assets/fonts/FiraSans-Medium.woff2') format('woff2');
  src: url('~@/assets/fonts/FiraSans-Medium.woff2') format('woff2'),
  url('~@/assets/fonts/FiraSans-Medium.woff') format('woff'),
  url('~@/assets/fonts/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Fira Sans Bold';
  src: url('~@/assets/fonts/FiraSans-Bold.woff2') format('woff2'),
  url('~@/assets/fonts/FiraSans-Bold.woff') format('woff'),
  url('~@/assets/fonts/FiraSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans SemiBold';
  src: url('~@/assets/fonts/FiraSans-SemiBold.woff2') format('woff2'),
  url('~@/assets/fonts/FiraSans-SemiBold.woff') format('woff'),
  url('~@/assets/fonts/FiraSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans Regular';
  src: url('~@/assets/fonts/FiraSans-Regular.woff2') format('woff2'),
  url('~@/assets/fonts/FiraSans-Regular.woff') format('woff'),
  url('~@/assets/fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans Black';
  src: url('~@/assets/fonts/FiraSans-Black.woff2') format('woff2'),
  url('~@/assets/fonts/FiraSans-Black.woff') format('woff'),
  url('~@/assets/fonts/FiraSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans Bold Italic';
  src: url('~@/assets/fonts/FiraSans-BoldItalic.woff2') format('woff2'),
  url('~@/assets/fonts/FiraSans-BoldItalic.woff') format('woff'),
  url('~@/assets/fonts/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

